body {
    font-family: Arial, Helvetica, sans-serif;
    }

#Titulo {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: rgba(95, 56, 4, 0.932);
    font-size: 50px;
    font-family: "Brush Script MT";
}

img {
    height: auto;
    width: 450px;
    float: left;
}

.Descripcion {
    font-size: 25px;
    color: rgba(95, 56, 4, 0.932)
}

.Des {
    font-size: 20px;
    font-weight: bold;
}

#Pasos {
    font-size: 23px;
    list-style: none;
}